<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %> 
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <h3><%-topTitle%></h3>
        <ol><% popularGirlNames.forEach((name) => { %>
          <li><%-`${popularGirlNames.indexOf(name)}. ${name}`%></li>
        <%})%>
        </ol>
      </div>
    </div>
    <footer>
      <a href="question4">Previous</a>
      <a href="question6">Next</a>
    </footer>
  </div>
</body>
