<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %> 
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/3') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <img src=<%-homer.imageUrl %> alt= <%- homer.name%>>
        <p><%- homer.name%></p>
        <p><%- homer.job %></p>
        <p><%- homer.profession%></p>
        <p><%- homer.favoriteFood %></p>
        <p><%- homer.favoriteBeverage%></p>
      </div>
    </div>
    <footer>
      <a href="question2">Previous</a>
      <a href="question4">Next</a>
    </footer>
  </div>
</body>
